
	<%= form_for(@conversation) do |f| %>
	  <% if @conversation.errors.any? %>
		<div id="error_explanation">
		  <h2><%= pluralize(@conversation.errors.count, "error") %> prohibited this conversation from being saved:</h2>

		  <ul>
		  <% @conversation.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		  <% end %>
		  </ul>
		</div>
	  <% end %>

	  <div class="form-group">
		<%= f.label "Recipient" %><br>
		
		<% if @selected_recipient %>
		<%= @selected_recipient.first_name %> <%= @selected_recipient.last_name %> (<%= @selected_recipient.email %>)
		<% else %>
		<%= f.collection_select(:user_id_recipient, @elligible_recipients, :id, :email, {prompt: "Select Recipient"}, {class: "form-control"}) %>	
		<% end %>
	  </div>
	  <div class="form-group">
		<%= f.label :title %><br>
		<%= f.text_field :title, :class => 'form-control' %>
	  </div>
	  <div class="form-group">
		<%= f.label :content %><br>
		<%= f.text_area :content, :class => 'form-control' %>
	  </div>
	  <div class="form-group" style="display:none;">
		<%= f.label :created_at %><br>
		<%= f.datetime_select :created_at %>
	  </div>
	  <div class="actions">
		<%= f.submit "Send Message", :class => 'btn btn-primary'  %>
	  </div>
	<% end %>
