<div class="col-md-8 col-centered">

	<% if !notice.nil? %>
	<div class="alert alert-info">
	  <%= notice %>
	</div>
	<% end %>

	<div class="pull-right">
		<%= link_to 'Send Message', new_conversation_path, class: 'btn btn-primary ' %>
	</div>
	<div class="clr"></div>
	
	<h2>Your Conversations</h2>
	
	<% if @conversations.count > 0 %>
	<table class="table">
	  <thead>
		<tr>
		  <th>Title</th>		
		  <th>Creator</th>
		  <th>Recipient</th>
		  <th colspan="3"></th>
		</tr>
	  </thead>

	  <tbody>
		<% 
		@conversations.each do |conversation| 
			@user_creator=User.where(:id => conversation.user_id_creator).first	
			@user_recipient=User.where(:id => conversation.user_id_recipient).first	
			@first_reply=Reply.where("replies.conversation_id = '#{conversation.id}'").order('replies.id DESC').first
		%>
		
		  <tr>
			<td><%= conversation.title %></td>		  
			<td><%= @user_creator.first_name %> <%= @user_creator.last_name %></td>
			<td><%= @user_recipient.first_name %> <%= @user_recipient.last_name %></td>
			<td><%= link_to 'Show', conversation %></td>
	        <!--<td><%= link_to 'Destroy', conversation, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
		    <td>
			<% if ((!@first_reply.nil? && @first_reply.read != 1 && @first_reply.user_id != current_user.id) || (@first_reply.nil? && conversation.read != 1 && conversation.user_id_creator != current_user.id)) %>
			<b>NEW!</b>
			<% end %>
			</td>
		  </tr>
		<% end %>
	  </tbody>
	</table>
	<% else %>
	<p class="text-center">You do not yet have any conversations.</p>
	<% end %>
	<br>

</div>