<div class="profile-page col-md-8 col-centered">
	
	<h2 class="text-center"><%= @user.first_name %> <%= @user.last_name %></h2>
	<% if @user.user_level == 0 %>
	<h3 class="text-center">Programmer</h3>
	<% elsif @user.user_level == 1 %>
	<h3 class="text-center">Manager</h3>		
	<% end %>
	
	<% if user_signed_in? && (current_user.user_level == 1 || current_user.user_level == 9) &&  current_user.id != @user.id %>
	<div class="text-center">
	<%= link_to 'Message', new_conversation_path(:user_id => @user.id), { :class => "btn btn-primary" } %>
	<br /><br /><br />
	</div>
	<% end %>
	
	<% if @user.user_level == 0 %>
	<table class="table">
	  <thead>
		<tr>
		  <th>Skill</th>
		  <th>Level</th>	
		  <td>Endorsements</th>
		  <td>Endorse</td>
		</tr>
	  </thead>

	  <tbody>
		<% 
		@user_skills.each do |skill_assignment| 
			@skill = Skill.where(:id => skill_assignment.skill_id).first
			@level = SkillLevel.where(:id => skill_assignment.level_id).first
			@endorsements = Endorsement.where(:user_id => @user.id).where(:user_skill_assignments_id => skill_assignment.id)
			if !current_user.nil?
				@my_endorsement = @endorsements.where(:user_id_endorser => current_user.id).first
			else
				@my_endorsement = nil
			end
			
			@endorsement = Endorsement.new
			
		%>
		
		  <tr>
			<td><%= @skill.name %></td>		  
			<td><%= @level.level %></td>
			<td class="counter"><%= @endorsements.count %></td>		
			<% if @my_endorsement %>
			<td><%= link_to "Unendorse", unendorse_user_path(:id => @my_endorsement.id), remote: true, class: "btn btn-danger unendorse unendorse-#{@my_endorsement.id}" %><td>			
			<% else %>
			<td><%= link_to "Endorse", endorse_user_path(:user_skill_assignments_id => skill_assignment.id), remote: true, class: "btn btn-primary endorse endorse-#{skill_assignment.id}" %><td>			
			<% end %>
		  </tr>
		<% end %>
	  </tbody>
	</table>
	<% elsif @user.user_level == 1 %>
	<h4 class="text-center">Recent Endorsements <%= @user_endorsements.count %></h4>
	<table class="table">
	  <thead>
		<tr>
		  <th>User</th>
		  <th>Skill</th>
		  <th>Level</th>
		  <th>View</th>
		</tr>
	  </thead>

	  <tbody>
		<% 
		@user_endorsements.each do |skill_endorsement| 
			@user = User.where(:id => skill_endorsement.user_id).first
			@skillassignment = UserSkillAssignment.where(:id => skill_endorsement.user_skill_assignments_id).first
			@skill = Skill.where(:id => @skillassignment.skill_id).first
			@level = SkillLevel.where(:id => @skillassignment.level_id).first
			
		%>
		
		  <tr>
			<td><%= @user.first_name %> <%= @user.last_name %></td>
			<td><%= @skill.name %></td>
			<td><%= @level.level %></td>
			<td><%= link_to 'View User', user_show_path(@user.id), :class => 'btn btn-info btn-sm' %></td>		  			
		  </tr>
		<% end %>
	  </tbody>
	</table>
	<% end %>
	
</div>