<%= form_for(@user_skill_assignment) do |f| %>
  <% if @user_skill_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_skill_assignment.errors.count, "error") %> prohibited this user_skill_assignment from being saved:</h2>

      <ul>
      <% @user_skill_assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user_id %><br>
	<%= f.collection_select(:user_id, User.all, :id, :email) %>	
    <!--<%= f.number_field :user_id %> -->
  </div>
  <div class="form-group">
    <%= f.label :skill_id %><br>
	<%= f.collection_select(:skill_id, Skill.all, :id, :name) %>
  </div>
  
  <div class="form-group">
    <%= f.label :level_id %><br>
	<%= f.collection_select(:level_id, SkillLevel.all, :id, :level) %>	
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
