<div class="col-md-8 col-centered text-center">

	<div class="row">
		<h2>Find Programmers</h2>

		<%= form_tag(user_skill_assignments_path, :method => "get", id: "search-form", class: "form-inline text-center") do %>

		  <div class="form-group">
			<label>Skill&nbsp;&nbsp;</label>
			<% if @skill_id %>
			<%= collection_select(Skill, :skill_id, Skill.all, :id, :name, {prompt: "Select Skill", selected: @skill_id}, {class: "form-control"}) %>
			<% else %>
			<%= collection_select(Skill, :skill_id, Skill.all, :id, :name, {prompt: "Select Skill"}, {class: "form-control"}) %>	
			<% end %>
		  </div>
		  
		  <div class="form-group">
			<label>Skill Level&nbsp;&nbsp;</label>
			<% if @level_id %>
			<%= collection_select(SkillLevel, :level_id, SkillLevel.all, :id, :level, {prompt: "Select Level", selected: @level_id}, {class: "form-control"}) %>	
			<% else %>
			<%= collection_select(SkillLevel, :level_id, SkillLevel.all, :id, :level, {prompt: "Select Level"}, {class: "form-control"}) %>	
			<% end %>
		  </div>

		  <%= submit_tag "Search", :name => nil, class: 'btn btn-primary'  %>
		  
		  <% if @skill_id %>
		  <%= link_to "Clear Search", { :controller => "/user_skill_assignments" }, :class => "small-text-1" %>
		  <% end %>
		  <br /><br />
		<% end %>
	</div>
	
	<% if @skill_id %>
	<div class="row">
		<h3>Search Results</h3>
		<% if @user_skill_assignments.count == 0 %>
		<p>Sorry, there are currently no programmers available with that skill set. </p>		
		<% else %>
		
		<p>The programmers matching the skill requirements you selected are bellow.</p>
		<% if user_signed_in? && current_user.user_level == 9 %>
		<%= link_to 'New User skill assignment', new_user_skill_assignment_path, :class => 'btn btn-primary' %>
		<% end %>

		<table class="table text-left">
		  <thead>
			<tr>
			  <th>User</th>
			  <th>Skill</th>
			  <th>Level</th>
			  <th>Skill Details</th>			  
			  <th>Endorsements</th>	
			  <th>Skill Details</th>
			  <th>View User</th>			  
			  <th>Message</th>			  
			  
			  <% if user_signed_in? && current_user.user_level == 9 %>	
			  <th colspan="2"></th>
			  <% end %>
			</tr>
		  </thead>

		  <tbody>
			<% 
				@user_skill_assignments.each do |user_skill_assignment|
					@user=User.where(:id => user_skill_assignment.user_id).first				
					@skill=Skill.where(:id => user_skill_assignment.skill_id).first
					@level=SkillLevel.where(:id => user_skill_assignment.level_id).first	
					@endorsements = Endorsement.where(:user_skill_assignments_id => user_skill_assignment.id)
					
			%>
			  <tr>
				<td><%= @user.email %></td>
				<td><%= @skill.name %></td>
				<td><%= @level.level %></td>
				<td class="text-center"><%= @endorsements.count %></td>		
				<td><%= link_to 'Skill Details', myskills_show_path(user_skill_assignment.id), :class => 'btn btn-warning btn-sm' %></td>
				<td><%= link_to 'View User', user_show_path(@user.id), :class => 'btn btn-info btn-sm' %></td>
				<% if user_signed_in? && current_user.user_level == 1 %>
				<td><%= link_to 'Message', new_conversation_path(:user_id => @user.id), :class => 'btn btn-primary btn-sm' %></td>
				<% end %>
				
				<% if user_signed_in? && current_user.user_level == 9 %>
				<td><%= link_to 'Edit', edit_user_skill_assignment_path(user_skill_assignment) %></td>
				<td><%= link_to 'Destroy', user_skill_assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<% end %>
			  </tr>
			<% end %>
		  </tbody>
		</table>
		<% end %>
		
	</div>
	<% else %>
	<div class="spacing-1"></div>
	
	<% if user_signed_in? && current_user.user_level == 9 %>
	<%= link_to 'New User skill assignment', new_user_skill_assignment_path, :class => 'btn btn-primary' %>
	<% end %>
	
	<div class="row">
		<h2>Recently Aquired Skills</h2>
		<p>Bellow are skills which have recently been added to our programmer profiles.</p>
		<% if @user_skill_assignments.count > 0 %>
		<table class="table text-left">
		  <thead>
			<tr>
			  <th>User</th>
			  <th>Skill</th>
			  <th>Level</th>
			  <th>Endorsements</th>		
			  <th>Skill Details</th>
			  <th>View User</th>			  
			  <th>Message</th>				  
			  <th colspan="2"></th>
			</tr>
		  </thead>

		  <tbody>
			<% 
				@user_skill_assignments.each do |user_skill_assignment|
					@user=User.where(:id => user_skill_assignment.user_id).first				
					@skill=Skill.where(:id => user_skill_assignment.skill_id).first
					@level=SkillLevel.where(:id => user_skill_assignment.level_id).first	
					@endorsements = Endorsement.where(:user_skill_assignments_id => user_skill_assignment.id)
					
			%>
			  <tr>
				<td><%= @user.email %></td>
				<td><%= @skill.name %></td>
				<td><%= @level.level %></td>
				<td class="text-center"><%= @endorsements.count %></td>
				<td><%= link_to 'Skill Details', myskills_show_path(user_skill_assignment.id), :class => 'btn btn-warning btn-sm' %></td>
				<td><%= link_to 'View User', user_show_path(@user.id), :class => 'btn btn-info btn-sm' %></td>
				<% if user_signed_in? && current_user.user_level == 1 %>
				<td><%= link_to 'Message', new_conversation_path(:user_id => @user.id), :class => 'btn btn-primary btn-sm' %></td>
				<% end %>
				
				<% if user_signed_in? && current_user.user_level == 9 %>
				<td><%= link_to 'Edit', edit_user_skill_assignment_path(user_skill_assignment) %></td>
				<td><%= link_to 'Destroy', user_skill_assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<% end %>
			  </tr>
			<% end %>
		  </tbody>
		</table>
		<% else %>
		<p>Sorry, there have not been any skills added to a programmer profile yet.</p>
		<% end %>
	</div>
	<% end %>
</div>