<% if !notice.nil? %>
<div class="alert alert-info">
  <%= notice %>
</div>
<% end %>

<h1>My Skills</h1>

<table class="table">
  <thead>
    <tr>
      <th>Skill</th>
      <th>Level</th>
      <th>View</th>	
      <th>Delete</th>		  
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% 
		@user_skill_assignments.each do |user_skill_assignment|
			@skill=Skill.where(:id => user_skill_assignment.skill_id).first
			@level=SkillLevel.where(:id => user_skill_assignment.level_id).first			
	%>
      <tr>
        <td><%= @skill.name %></td>
        <td><%= @level.level %></td>
        <td><%= link_to 'Show', myskills_show_path(user_skill_assignment.id) %></td>
        <td><%= link_to 'Remove', myskills_destroy_path(user_skill_assignment.id), data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Skill', myskills_new_path, :class => 'btn btn-primary' %>
