<div class="col-md-4 col-centered">

	<h1>Editing Skill</h1>

	<%= form_for @skill do |f| %>
	  
	  <div class="form-group">
		<%= f.label :Name %><br />
		<%= f.text_field :name, autofocus: true, :class => 'form-control'%>
	  </div>
	  
	  <div class="form-group">
		<%= f.submit "Submit", :class => 'btn btn-primary' %>
	  </div>

	<% end %>
	<%= link_to 'Show', @skill %> |
	<%= link_to 'Back', skills_path %>

</div>
