<p id="notice"><%= notice %></p>

<p>
  <strong>Skill:</strong>
  <%= @prerequisit.skill_id %>
</p>

<p>
  <strong>Prerequisit skill:</strong>
  <%= @prerequisit.prerequisit_skill_id %>
</p>

<%= link_to 'Edit', edit_prerequisit_path(@prerequisit) %> |
<%= link_to 'Back', prerequisits_path %>
