<div class="col-md-12 col-centered">

	<% if !notice.nil? %>
	<div class="alert alert-info">
	  <%= notice %>
	</div>
	<% end %>

	<h1>Listing Endorsements</h1>

	<table class="table">
	  <thead>
		<tr>
		  <th>User</th>
		  <th>Endorser</th>
		  <th>Endorsement</th>	  
		  <th colspan="3"></th>
		</tr>
	  </thead>

	  <tbody>
		<% 
		@endorsements.each do |endorsement| 
		 	@user=User.where(:id => endorsement.user_id).first		
		 	@endorser=User.where(:id => endorsement.user_id_endorser).first		
		 	@skillassignment=UserSkillAssignment.where(:id => endorsement.user_skill_assignments_id).first	
			@skill=Skill.where(:id => @skillassignment.skill_id).first
			@level=SkillLevel.where(:id => @skillassignment.level_id).first
			
			
		%>
		  <tr>
			<td><%= @user.first_name %> <%= @user.last_name %></td>
			<td><%= @endorser.first_name %> <%= @endorser.last_name %></td>
			<td><%= @skill.name %>: <%= @level.level %></td>			
			<td><%= link_to 'Show', endorsement %></td>
			
			<% if user_signed_in? && current_user.user_level == 9 %>
			<td><%= link_to 'Edit', edit_endorsement_path(endorsement) %></td>
			<td><%= link_to 'Destroy', endorsement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			<% end %>

		  </tr>
		<% end %>
	  </tbody>
	</table>

	<br>

	<%= link_to 'New Endorsement', new_endorsement_path, :class => 'btn btn-primary' %>
	
</div>
