
<%= form_for(@material) do |f| %>
  <% if @material.errors.any? %>
	<div id="error_explanation">
	  <h2><%= pluralize(@material.errors.count, "error") %> prohibited this material from being saved:</h2>

	  <ul>
	  <% @material.errors.full_messages.each do |message| %>
		<li><%= message %></li>
	  <% end %>
	  </ul>
	</div>
  <% end %>

  <div class="form-group">
	<%= f.label :skill_id %><br>
	<%= f.collection_select(:level_id, SkillLevel.all, :id, :level,:class => 'form-control') %>	
  </div>
  <div class="form-group">
	<%= f.label :description %><br>
	<%= f.text_area :description, :class => 'form-control' %>
  </div>
  <div class="form-group">
	<%= f.label :material_to_learn %><br>
	<%= f.text_area :material_to_learn, :class => 'form-control' %>
  </div>
  <div class="form-group">
	<%= f.label :level_id %><br>
	<%= f.text_field :level_id, :class => 'form-control' %>
  </div>
  <div class="form-group">
	<%= f.label :created_at %><br>
	<%= f.datetime_select :created_at, :class => 'form-control' %>
  </div>
  <div class="form-group">
	<%= f.label :updated_at %><br>
	<%= f.datetime_select :updated_at, :class => 'form-control' %>
  </div>
  <div class="actions">
	<%= f.submit %>
  </div>
<% end %>
