<%
	@skill=Skill.where(:id => @material.skill_id).first
	@level=SkillLevel.where(:id => @material.level_id).first
	
%>

<p id="notice"><%= notice %></p>

<p>
  <strong>Skill:</strong>
  <%= @skill.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @material.description %>
</p>

<p>
  <strong>Material to learn:</strong>
  <%= @material.material_to_learn %>
</p>

<p>
  <strong>Level:</strong>
  <%= @level.level %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @material.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @material.updated_at %>
</p>

<%= link_to 'Edit', edit_material_path(@material), :class => 'btn btn-primary' %> |
<%= link_to 'Back', materials_path, :class => 'btn btn-default' %>
